<form [formGroup]="formData" (ngSubmit)="addDictator()" style="width: 300px;margin-left: auto;margin-right: auto;">
  First name:<input type="text" name="firstName" formControlName="firstName"><br>
  Last name:<input type="text" name="lastName" formControlName="lastName"><br>
  Birth year: <input type="number" name="birthYear" formControlName="birthYear"><br>
  Death year:<input type="number" name="deathYear" formControlName="deathYear"><br>
  Description:<br><input type="text" name="description" formControlName="description"><br>
  <input type="submit">
</form>
<br>
<div *ngFor="let dict of dictators" class="dictator">
  Name: {{dict.firstName}} {{dict.lastName}}<br>
  Birth Year: {{dict.birthYear}}<br>
  Year of death: {{dict.deathYear}}<br>
  Description: {{dict.description}}<br>
  <button (click)="dictators.splice(dictators.indexOf(dict), 1)">Remove</button>
</div>